@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Creepster&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Audiowide', cursive;
}

body {
    display: flex;
    justify-content: center;
    background-color: #26006e;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    color: white;
}

.header {
    display: flex;
    justify-content: center;
    height: 15%;
}

h1 {
    color: #00dfba;
    font-size: 36px;
    font-weight: 100;
    margin-top: 10px;
}

#h1First {
    color: #fe2bf1;
}

#h1Last {
    color: #0c7ceb;
}

.round {
    display: flex;
    justify-content: space-between;
    height: 50%;
    gap: 10px;
}

.show {
    display: flex;
    flex-direction: column;
    flex: 1.3;
    border: 2px solid white;
    border-radius: 15px;
}

.show-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font-size: 20px;
    margin-top: 10px;
}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.choice img {
    height: 250px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 54px;
}

h3 {
    font-size: 30px;
}

#points {
    font-size: 50px;
    margin-top: 30px;
}

.selection {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 20%;
}

.weapons {
    display: flex;
    width: 15%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.weapons button {
    display: flex;
    height: 70%;
    border: 0;
    cursor: pointer;
}

.weapons button:hover {
    scale: 1.1;
    transition: all 0.7s;
}

.weapons span {
    font-size: 20px;
}

#rock {
    background: url('images/rock.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
    height: 57%;
    margin-top: 15px;
}

#paper {
    background: url('images/paper.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 55%;
}

#scissors {
    background: url('images/scissors.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 37%;
}

.footer {
    display: flex;
    justify-content: center;
    height: 15%;
    align-items: flex-end;
}

a {
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration-line: underline;
}
